# Node modules
node_modules
npm-debug.log
yarn.log
pnpm-lock.yaml

# Build artifacts
dist
build
.tmp

# Environment files
# .env
# .env.*
!.env.example

# Git
.git
.gitignore

# IDE / Editors
.vscode
.idea
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
